.category {
    border-color: coral;
    color: coral;
    padding: 0px 10px 0px 10px;
    border-radius: 20px;
    margin: 0 5px;
}

.card {
    color: white;
    visibility: visible;
    box-shadow: 0 0 30px rgba(237,78,80,.4), 0 0 0 1px hsla(0,0%,100%,.1), 0 2px 2px rgba(0,0,0,.0274351), 0 4px 4px rgba(0,0,0,.0400741), 0 10px 8px rgba(0,0,0,.0499982), 0 15px 15px rgba(0,0,0,.0596004), 0 30px 30px rgba(0,0,0,.0709366), 0 70px 65px rgba(0,0,0,.09);
    animation: home-secret-alert .4s cubic-bezier(.16,1,.3,1) forwards;
    background-color: #0c162d;

}

.one {
    background: -webkit-linear-gradient(-70deg,#a2facf,#64acff);
}

.two  {
    background: -webkit-linear-gradient(-70deg,#db469f,#2188ff);
}

.three {
    color: white!important;
    background: -webkit-linear-gradient(-70deg,#ff7170,#ffe57f)
}

.card-title {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    font-weight: 800!important;
    line-height: 1;
}

.category:hover {
    border-color: coral;
    color: white;
    background-color: coral;
}
